   <div class="mdc-list-group" style="height:100vh">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="#" id="admin">
                <i  class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">desktop_mac</i>
                Admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='material-icons' style="font-size:15px;">add</i>
              </a>
              <a class="mdc-drawer-link" href="#" id="user" style="display:none;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                User-Management&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='material-icons' style="font-size:15px;">add</i>
              </a>
              <a class="mdc-drawer-link" href="/showusers" id="users" style="display:none;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Users
            </a>
          
              <a class="mdc-drawer-link" href="#" id="organisation" style="display:none;">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Organisation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='material-icons' style="font-size:15px;">add</i>
              </a>
              <a class="mdc-drawer-link" href="/generalInfo" id="generalinformation" style="display:none;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              General Information
            </a>
            <a class="mdc-drawer-link" href="/location" id="locations" style="display:none;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Locations
          </a>
          <a class="mdc-drawer-link" href="#" id="structure" style="display:none;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Structure
        </a>
        <a class="mdc-drawer-link" href="#" id="leave" style="display:none;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Leave&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='material-icons' style="font-size:15px;">add</i>
      </a>
      <a class="mdc-drawer-link" href="#" id="leavelist" style="display:none;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     Leave List
    </a>
    <a class="mdc-drawer-link" href="#" id="leavecalander" style="display:none;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   Leave Calander
  </a>
  <a class="mdc-drawer-link" href="#" id="leave" style="display:none;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  PIM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='material-icons' style="font-size:15px;">add</i>
</a>  
<a class="mdc-drawer-link" href="#" id="leavecalander" style="display:none;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Add Employee
</a>   
<a class="mdc-drawer-link" href="#" id="leavecalander" style="display:none;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Employee List
</a>  
<a class="mdc-drawer-link" href="#" id="leave" style="display:none;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='material-icons' style="font-size:15px;">add</i>
</a>
<a class="mdc-drawer-link" href="#" id="leavecalander" style="display:none;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</a>     
  </div>